.navbar{
    margin: 5px;
}
.form{
    width: 100%;
    margin-bottom: 19px;
}
.form-label{
  margin-top: 10px;
}
.card img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 5px;
}


/*Melhorando a responsividade no mobile*/
@media (max-width: 480px) {
    /*Aumentando o tamanho do container e dando um espaçamento entre a navbar e a parte de busca*/
  .container {
    max-width: 300px;
    margin-top: 20px;
  }
  .modal-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90%;
  }
}